<div>
    <h2>Real Time Products</h2>
    <div>
        <h3>New Product</h3>
        <form action="">
            <label for=""></label>
        </form>
    </div>
    <div>
        <h3>List of Products</h3>
        <div id="products">
            
        </div>
    </div>

</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>